[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
jupyter = "*"
bokeh = "*"
ipyparallel = "*"
pandas = "*"
pyarrow = "*"
requests = "*"
#
redis = "*"
flask = "*"
rq-dashboard = "*"
flask-rq2 = "*"

[requires]
python_version = "3.6.8"
